.header {
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	transition: .3s ease-in;
	overflow: hidden;
	font-family: 'Alfa Slab One', cursive;
	font-family: 'Ranchers', cursive;
	
	letter-spacing: 0.1rem;

    }
    .hamburger{
	    cursor: pointer;
    }
    .header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	
    }
    .nav-item{
	    list-style: none;
	    font-size: 1.3rem;
	text-decoration: none;
	cursor:pointer;
    }

    
    .header .nav-menu .nav-item {
	color: #ffffff;
	font-size: 1.7rem;
	text-decoration: none;
    }

    .header .nav-menu .nav-item:hover {
	text-shadow: 2px 2px 1px #f76c62;
    }
    
    .header .nav-menu {
	display: flex;
    }
    
    .header .nav-item {
	padding: 1rem;
	float: right;
    }
    
    .header .nav-item:hover {
	padding-bottom: 12px;
    }
    
    .hamburger {
	display: none;
    }
    
    .logo{
	    float: left;
	    text-decoration: none;
	    color: white;
	    text-shadow: 3px 3px 2px #f76c62;
	    font-size: 2.5rem;
	    padding-left: 50px;
    }
    
    @media screen and (max-width:940px) {
	.header {
	    max-width: 100%;
	    background-color: #24305e;
	}
    
	.header .navbar {
	    max-width: 100%;
	}
    
	.hamburger {
	    display: block;
	}
	.logo{
		margin-left:auto;
		margin-right: auto;
		color: white;
	}
	.nav-menu {
	    position: fixed;
	    width:200px;
	    left: -120%;
	    top: 54px;
	    flex-direction: column;
	    background-color: #24305e;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	    width: 100%;
	    z-index: 999;
	    text-decoration: none;
	    list-style: none;
	    transition: .3s;
	    height: 327px;
	    max-height: 327px;
	}
    
	.nav-menu.active {
	    left: 0;
	}
    
	.nav-item {
	    margin: 0.5rem 0;
	    border-bottom: solid white 2px;
	    margin-left: -65px;
	    justify-content: center;
	    text-align: center;
	}

    }
    